body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.plants img {
  width: 47%;
}

.post-card-text {
  background-color: lightgray;
  border-radius: 1rem;
  width: fit-content;
  padding: 5px 10px;
  color: orange;
  text-transform: uppercase;
}