h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar>h2{
    margin: 10px 0px;
    transition: background-color 0.7s ease;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar>h2:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    height:100vh;
    padding: 10px 0px;
    border-right: 1px solid rgb(185, 222, 202);
}